/* HOME PAGE CSS */

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Global styling variables */
:root{
    --secondary-color:  rgb(156, 160, 163);
    --border: 1.2px solid rgba(0,0,0,0.1);
    --border-radius:3%;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    --main-color:#fff;
    --font:'Poppins', sans-serif;
}

/* Scroll bar styling */
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
    border-radius: 5rem;
}

/* For each element of home page  */
html{
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    margin: 7rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-family: var(--font);
}

/* For domain box container */
.HomePage-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 5rem;
}
/* For domain box styling */
.HomePage-Box{
    position: relative;
    width: 28rem;
    height: 16rem;
    margin: 2rem 0;
    background: var(--main-color);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: var(--secondary-color);
    transition: transform 0.5s;
}
/* Domain box hover effect */
.HomePage-Box:hover{
    transform: translateY(-0.9rem);
    color: black;
    border: black solid 1.2px;
}

/* For home page intro */
.Home-slider{
    background:var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100%);
}
.Home-intro{
    background: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Home-intro-text{
    text-align: center;
    font-family: var(--font);
    font-size: 3rem;
    color: var(--main-color);
    -webkit-text-stroke:black 0.15rem;
}
.Home-intro-text h1{
    background: var(--secondary-color);
    overflow: hidden;
}
.Home-text{
    transform: translateY(100%);
}
#Home-small-text{
    font-size: 2.8rem;
    -webkit-text-stroke-width: 0.12rem;
}

/* Media queries */
@media (max-width:998px) {
    html{
        font-size: 70%;
    }   
    .HomePage-container{
        grid-template-columns: repeat(2,auto);
    }
}
@media (max-width:766px) {
    html{
        font-size: 57%;
    }
    .HomePage-container{
        display: flex;
        position: relative;
        flex-direction: column;
    }
}